<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.24.0/css/reset.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.24.0/css/style.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" type="text/css" media="all" />

        <title>Wasp | Rubricate</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZHEGW78FJH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-ZHEGW78FJH');
        </script>
    </head>
    <body>
        <div class="expand bg_prm">
            <div class="container pt_1">
                <ul class="lt_x">
                    <li>
                        <a href="../../" class="lk_lgh">
                            <h1>Rubricate</h1>
                        </a>
                    </li>
                    <li>
                        <div class="tx_stn" style="margin: 18px 0 0 0">
                            | <a href="../../" class="lk_lgh">Documentation</a>
                        </div>
                    </li>
                </ul>    
            </div>
        </div>
        <div class="expand bg_stn">
            <div class="container pt_1">
                <div class="row">
                <div class="gr gr_6">
                    <h1>Wasp</h1>
                </div>
                <div class="gr gr_6">
                    <ul class="lt_x fl_r">
                        <a class="lk_prm lk_hv_scn" 
                            href="https://github.com/rubricate/wasp" title="GitHub Repository">
                            <i class="fa-brands fa-github"></i> GitHub
                        </a>
                    </ul>    
                    
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="fold">
                <ul class="lt_x">
                    <!--li>
                        <a href="https://packagist.org/packages/rubricate/wasp">
                            <img src="https://img.shields.io/packagist/php-v/rubricate/wasp.svg?style=flat-square" alt="PHP from Packagist"/>
                        </a>
                    </li-->
                    <li>
                        <img src="https://img.shields.io/badge/license-MIT-brightgreen.svg?style=flat-square" alt="Software License"/>
                    </li>
                    <li>
                        <a href="https://packagist.org/packages/rubricate/wasp">
                            <img src="https://img.shields.io/packagist/dt/rubricate/wasp.svg?style=flat-square" alt="Total Downloads"/>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="fold">
                <ul class="lt_y">
                    <li class="tx_b">Install:</li>
                    <li>$ composer require rubricate/wasp </li>
                </ul>    
                
            </div>

            <div class="fold">
                <h1 class="mb_1">Extending to class AbstractWasp</h1>
                    <div class="expand mb_1">
                        <p class="mb_1 tx_b">
                            Use protected methods:
                        </p>
                        <ul class="lt_y">
                            <li class="mb_1"><i class="tx_b">getDirFullPath()</i> returning the absolute path of the directory</li>
                            <li class="mb_1"><i class="tx_b">getPrefixToFile()</i> with your preferred prefix for the log file</li>
                        </ul>    
                        
                    </div>

                <div class="row">
                    <div class="gr gr_12">
                        <script src="https://gist.github.com/estefanionsantos/a68333c5db7e325f28c7b904296f6b1f.js"></script>
                    </div>
                </div>
            </div>

            <div class="fold">
                <h1 class="mb_1">File app</h1>
                    <div class="expand mb_1">
                        <p class="mb_1 tx_b">
                            main.php
                        </p>
                    </div>

                <div class="row">
                    <div class="gr gr_12">
                        <script src="https://gist.github.com/estefanionsantos/6fd0fdb80199db2d94ab470fa5befb9b.js"></script>
                    </div>
                </div>
            </div>

            <div class="fold">
                <h1 class="mb_1">File result</h1>
                    <div class="expand mb_1">
                        <div class="bg tx_md mb_1 pp_1 fl_l">
                            <ul class="lt_y">
                                <li>$ cd /path/to/directory/logs/</li>
                                <li>&nbsp; /path/to/directory/logs/$ ls</li>
                                <li>&nbsp; dev_2022-09-20.txt</li>
                                <li>&nbsp; /path/to/directory/logs/$ vim dev_2022-09-02.txt</li>
                            </ul>
                        </div>
                    </div>

                <div class="row">
                    <div class="gr gr_12">
                        <script src="https://gist.github.com/estefanionsantos/e8b7a248d6c12281305f86dfed908bd4.js"></script>
                    </div>
                </div>
            </div>

        </div>

                <div class="fold">
                    <div class="container">
                        <div class="expand">
                            <ul class="lt_x fl_r">
                                <li><a href="../" class="lk_prm">Rubricate</a></li>
                                <li>
                                    &copy; 2015 -
                                    <script type="text/javascript">
                                        var date = new Date();
                                        document.write(date.getFullYear());
                                    </script>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

    </body>
</html>
