<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.24.0/css/reset.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.24.0/css/style.min.css" type="text/css" media="all" />
        <title>Table | Rubricate</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZHEGW78FJH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-ZHEGW78FJH');
        </script>
    </head>
    <body>
        <div class="container">
            <div class="fold">
                <h1>Table</h1>
            </div>


            <!--div class="fold">
                <h1 class="mb_1">Simulating Data by Array</h1>
                <div class="row">
                    <div class="gr gr_12">
                        First, let's create a file to return data in array form.
                    </div>
                    <div class="gr gr_12">
                        <script src="https://gist.github.com/estefanionsantos/8b366ee9367c514e59471105812e7aca.js"></script>
                    </div>
                </div>
            </div-->


            <div class="fold">
                <h1 class="mb_1">Example 1</h1>
                <div class="row">
                    <div class="gr gr_12">
                        <script src="https://gist.github.com/estefanionsantos/ed41f25bae5ca6cc7d8063f06fb2755a.js"></script>
                    </div>
                </div>
            </div>


            <div class="fold">
                <h1 class="mb_1">Example 2</h1>
                <div class="row">
                    <div class="gr gr_12">
                        <script src="https://gist.github.com/estefanionsantos/837da24e62d47f2bfd94f11bf66167f4.js"></script>
                    </div>
                </div>
            </div>

            <div class="fold">
                <h1 class="mb_1">Example 2</h1>
                <div class="row">
                    <div class="gr gr_12">
                        <script src="https://gist.github.com/estefanionsantos/d6e0bbb33dfb9abe7559af2812f178c0.js"></script>
                    </div>
                </div>
            </div>



        </div>

        <div class="fold"></div>

    </body>
</html>

