<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.28.0/css/reset.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.28.0/css/style.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="../../../asset/css/custom.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" type="text/css" media="all" />

        <title>FPDF | Rubricate</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZHEGW78FJH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-ZHEGW78FJH');
        </script>
    </head>
    <body>
        <div class="expand bg_prm">
            <div class="container pt_1">
                <ul class="lt_x">
                    <li>
                        <a href="../../" class="lk_lgt">
                            <h1>Rubricate</h1>
                        </a>
                    </li>
                    <li>
                        <div class="tx_stn" style="margin: 18px 0 0 0">
                            | <a href="../../" class="lk_lgt">Documentation</a>
                        </div>
                    </li>
                </ul>    
            </div>
        </div>
        <div class="expand bg_stn">
            <div class="container pt_1">
                <div class="row">
                <div class="gr gr_4">
                    <h1>FPDF</h1>
                </div>
                <div class="gr gr_4">
                    <ul class="lt_x">
                    <li class="tx_b">Install:</li>
                    <li>$ composer require rubricate/fpdf </li>
                </ul>
                </div>
                <div class="gr gr_4">
                    <ul class="lt_x fl_r">
                        <a class="lk_prm lk_hv_scn" 
                            href="https://github.com/rubricate/fpdf" title="GitHub Repository">
                            <i class="fa-brands fa-github"></i> GitHub
                        </a>
                    </ul>    
                    
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="expand my_1">
                <div class="row">
                    <div class="gr gr_12">
                    <ul class="lt_x fl_r">
                    <li>
                        <a href="https://packagist.org/packages/rubricate/fpdf">
                            <img src="https://img.shields.io/packagist/php-v/rubricate/fpdf.svg?style=flat-square" alt="PHP from Packagist"/>
                        </a>
                    </li>
                    <li>
                        <img src="https://img.shields.io/badge/license-MIT-brightgreen.svg?style=flat-square" alt="Software License"/>
                    </li>
                    <li>
                        <a href="https://packagist.org/packages/rubricate/fpdf">
                            <img src="https://img.shields.io/packagist/dt/rubricate/fpdf.svg?style=flat-square" alt="Total Downloads"/>
                        </a>
                    </li>
                </ul>
                    </div>
                </div>
                
                
            </div>
            <div class="row">
                <div class="gr gr_12">
                    <div class="expand mb_1">
                       <h2>Tables</h2>
                    </div>
                </div>
            <div class="gr gr_8 gr_md_12">
                <div class="fold">
                    <div class="row">
                        <div class="gr gr_8 gr_md_12">
                            <script src="https://gist.github.com/estefanionsantos/403ff7a27cba6b65067a3a36571adce0.js"></script>
                        </div>
                    </div>
                </div>

                <div class="fold">
                    the <b class="tx_b">countries.txt</b> file can be found <a href="../example-text" class="lk_scn">here</a>
                </div>

            </div>

                <div class="gr gr_4 gr_md_12">
                        <div class="fold">
                        <ul class="mn_y">
                            <li><a href="../../fpdf">Fpdf</a></li>
                            <li><a href="../minimal-example">Minimal example</a></li>
                            <li><a href="../header-footer-page-break-and-image">Header, footer, page break and image </a></li>
                            <li><a href="../line-breaks-and-colors">Line breaks and colors</a></li>
                            <li><a href="../multi-columns">Multi-columns</a></li>
                            <li><a href="javascript:void()" ><span class="tx_scn tx_b">Tables</span></a></li>
                            <li><a href="../links-and-flowing-text" >Links and flowing text</a></li>
                            <li><a href="../example-text">Example text</a></li>
                            <!--li><a href="../adding-new-fonts-and-encodings">Adding new fonts and encodings</a></li-->
                        </ul>
                        </div>
                </div>
            </div>
        </div>

                <div class="fold">
                    <div class="container">
                        <div class="expand">
                            <ul class="lt_x fl_r">
                                <li><a href="../" class="lk_prm">Rubricate</a></li>
                                <li>
                                    &copy; 2015 -
                                    <script type="text/javascript">
                                        var date = new Date();
                                        document.write(date.getFullYear());
                                    </script>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

    </body>
</html>


