<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.28.0/css/reset.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.28.0/css/style.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" type="text/css" media="all" />

        <title>Filter | Rubricate</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZHEGW78FJH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-ZHEGW78FJH');
        </script>
    </head>
    <body>
        <div class="expand bg_prm">
            <div class="container pt_1">
                <ul class="lt_x">
                    <li>
                        <a href="../../" class="lk_lgt">
                            <h1>Rubricate</h1>
                        </a>
                    </li>
                    <li>
                        <div class="tx_stn" style="margin: 18px 0 0 0">
                            | <a href="../../" class="lk_lgt">Documentation</a>
                        </div>
                    </li>
                </ul>    
            </div>
        </div>
        <div class="expand bg_stn">
            <div class="container pt_1">
                <div class="row">
                <div class="gr gr_6">
                    <h1>Filter</h1>
                </div>
                <div class="gr gr_6">
                    <ul class="lt_x fl_r">
                        <a class="lk_prm lk_hv_scn" 
                            href="https://github.com/rubricate/filter" title="GitHub Repository">
                            <i class="fa-brands fa-github"></i> GitHub
                        </a>
                    </ul>    
                    
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="fold">
                <ul class="lt_x">
                    <li>
                        <a href="https://packagist.org/packages/rubricate/filter">
                            <img src="https://img.shields.io/packagist/php-v/rubricate/filter.svg?style=flat-square" alt="PHP from Packagist"/>
                        </a>
                    </li>
                    <li>
                        <img src="https://img.shields.io/badge/license-MIT-brightgreen.svg?style=flat-square" alt="Software License"/>
                    </li>
                    <li>
                        <a href="https://packagist.org/packages/rubricate/filter">
                            <img src="https://img.shields.io/packagist/dt/rubricate/filter.svg?style=flat-square" alt="Total Downloads"/>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="fold">
                <ul class="lt_y">
                    <li class="tx_b">Install:</li>
                    <li>$ composer require rubricate/filter </li>
                </ul>    
            </div>

            <div class="fold">
                A flexible, lightweight, and object-oriented string filtering and sanitization library.
            </div>

            <div class="fold">
                <h1 class="mb_1">Usage Examples</h1>

                First, ensure you have your autoloader configured. All filters implement 
                <strong class="tx_b">Rubricate\Filter\IGetFilter</strong> and expose the 
                <strong class="tx_b">getFilter(string $value): string</strong> method.
            </div>

            <div class="x_100">
                <h1 class="mb_1">Preserve Namespace</h1>
            </div>

            <div class="fold">
                <h2 class="mb_1">AlnumFilter</h2>
                <script src="https://gist.github.com/estefanionsantos/2de94b2e0c89f0ec311fa5fae2c539b9.js"></script>
            </div>

            <div class="fold">
                <h2 class="mb_1">AlphaFilter</h2>
                <script src="https://gist.github.com/estefanionsantos/e8d8e62643bacafc02e562760cab06ce.js"></script>
            </div>
            <div class="fold">
                <h2 class="mb_1">NumFilter</h2>
                <script src="https://gist.github.com/estefanionsantos/dbb7a2503d0777eeea65764ff4a9ebb4.js"></script>
            </div>
            <div class="fold">
                <h2 class="mb_1">AlnumDashFilter</h2>
                <script src="https://gist.github.com/estefanionsantos/3dabb233a812c65f28bbd6915d9ed71a.js"></script>
            </div>


            <div class="x_100">
                <h1 class="mb_1">Word Namespace</h1>
            </div>
            <div class="fold">
                <h2 class="mb_1">ToCamelCaseFilter</h2>
                <script src="https://gist.github.com/estefanionsantos/6ca648ca1fdd22434aa407af9a856d08.js"></script>
            </div>
            <div class="fold">
                <h2 class="mb_1">FromCamelCaseFilter</h2>
                <script src="https://gist.github.com/estefanionsantos/5830545f45021c66760fdd0591c4ccd2.js"></script>
            </div>
            <div class="fold">
                <h2 class="mb_1">ReplaceFilter</h2>
                <script src="https://gist.github.com/estefanionsantos/3b0f80c3a190e731509e5cf81ff1026f.js"></script>
            </div>
        </div>

                <div class="fold">
                    <div class="container">
                        <div class="expand">
                            <ul class="lt_x fl_r">
                                <li><a href="../" class="lk_prm">Rubricate</a></li>
                                <li>
                                    &copy; 2015 -
                                    <script type="text/javascript">
                                        var date = new Date();
                                        document.write(date.getFullYear());
                                    </script>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

    </body>
</html>
