<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.24.0/css/reset.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.24.0/css/style.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" type="text/css" media="all" />

        <title>Http | Rubricate</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZHEGW78FJH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-ZHEGW78FJH');
        </script>
    </head>
    <body>
        <script>
            window.location.assign("../http-basic/");
        </script>
</body>
</html>
