<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Redirecting to Main Page | Rubricate</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZHEGW78FJH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-ZHEGW78FJH');
        </script>
    </head>
    <body>
        redirecting to main page ...

        <script>
            window.location.assign("../");
        </script>
    </body>
</html>

