<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.28.0/css/reset.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.28.0/css/style.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" type="text/css" media="all" />

        <title>Resource | Rubricate</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZHEGW78FJH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-ZHEGW78FJH');
        </script>
    </head>
    <body>
        <div class="expand bg_prm">
            <div class="container pt_1">
                <ul class="lt_x">
                    <li>
                        <a href="../../" class="lk_lgh">
                            <h1>Rubricate</h1>
                        </a>
                    </li>
                    <li>
                        <div class="tx_stn" style="margin: 18px 0 0 0">
                            | <a href="../../" class="lk_lgh">Documentation</a>
                        </div>
                    </li>
                </ul>    
            </div>
        </div>
        <div class="expand bg_stn">
            <div class="container pt_1">
                <div class="row">
                <div class="gr gr_6">
                    <h1>Resource</h1>
                </div>
                <div class="gr gr_6">
                    <ul class="lt_x fl_r">
                        <a class="lk_prm lk_hv_scn" 
                            href="https://github.com/rubricate/resource" title="GitHub Repository">
                            <i class="fa-brands fa-github"></i> GitHub
                        </a>
                    </ul>    
                    
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="fold">
                <ul class="lt_x">
                    <!--li>
                        <a href="https://packagist.org/packages/rubricate/resource">
                            <img src="https://img.shields.io/packagist/php-v/rubricate/resource.svg?style=flat-square" alt="PHP from Packagist"/>
                        </a>
                    </li-->
                    <li>
                        <img src="https://img.shields.io/badge/license-MIT-brightgreen.svg?style=flat-square" alt="Software License"/>
                    </li>
                    <li>
                        <a href="https://packagist.org/packages/rubricate/resource">
                            <img src="https://img.shields.io/packagist/dt/rubricate/resource.svg?style=flat-square" alt="Total Downloads"/>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="fold">
                <ul class="lt_y">
                    <li class="tx_b">Install:</li>
                    <li>$ composer require rubricate/resource </li>
                </ul>    
                
            </div>

            <div class="fold">
                <h1 class="mb_1">src/Helper/ViewHelper.php</h1>

                <script src="https://gist.github.com/estefanionsantos/20c2f5c805b34c69461d263543f78e6c.js"></script>
            </div>

            <div class="fold">
                <h1>Implementing 1</h1>
                <script src="https://gist.github.com/estefanionsantos/efb3af0835ebb6e8363dae055cc50f44.js"></script>
            </div>

            <div class="fold">
                <h1>Implementing 2</h1>
                <script src="https://gist.github.com/estefanionsantos/133e6875862e23f57e33176ddaf9b35f.js"></script>
            </div>


        </div>

                <div class="fold">
                    <div class="container">
                        <div class="expand">
                            <ul class="lt_x fl_r">
                                <li><a href="../" class="lk_prm">Rubricate</a></li>
                                <li>
                                    &copy; 2015 -
                                    <script type="text/javascript">
                                        var date = new Date();
                                        document.write(date.getFullYear());
                                    </script>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

    </body>
</html>
