<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.28.0/css/reset.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://dobokcss.github.io/v/0.28.0/css/style.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" type="text/css" media="all" />

        <title>Relevant | Rubricate</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZHEGW78FJH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-ZHEGW78FJH');
        </script>
        <style type="text/css" media="all">
            .ct_directory_structure li {
               margin-left: 25px 
            }
        </style>
    </head>
    <body>
        <div class="expand bg_prm">
            <div class="container pt_1">
                <ul class="lt_x">
                    <li>
                        <a href="../../" class="lk_lgh">
                            <h1>Rubricate</h1>
                        </a>
                    </li>
                    <li>
                        <div class="tx_stn" style="margin: 18px 0 0 0">
                            | <a href="../../" class="lk_lgh">Documentation</a>
                        </div>
                    </li>
                </ul>    
            </div>
        </div>
        <div class="expand bg_stn">
            <div class="container pt_1">
                <div class="row">
                <div class="gr gr_6">
                    <h1>Relevant</h1>
                </div>
                <div class="gr gr_6">
                    <ul class="lt_x fl_r">
                        <a class="lk_prm lk_hv_scn" 
                            href="https://github.com/rubricate/relevant" title="GitHub Repository">
                            <i class="fa-brands fa-github"></i> GitHub
                        </a>
                    </ul>    
                    
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="fold">
                <ul class="lt_x">
                    <!--li>
                        <a href="https://packagist.org/packages/rubricate/relevant">
                            <img src="https://img.shields.io/packagist/php-v/rubricate/relevant.svg?style=flat-square" alt="PHP from Packagist"/>
                        </a>
                    </li-->
                    <li>
                        <img src="https://img.shields.io/badge/license-MIT-brightgreen.svg?style=flat-square" alt="Software License"/>
                    </li>
                    <li>
                        <a href="https://packagist.org/packages/rubricate/relevant">
                            <img src="https://img.shields.io/packagist/dt/rubricate/relevant.svg?style=flat-square" alt="Total Downloads"/>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="fold">
                <ul class="lt_y">
                    <li class="tx_b">Install:</li>
                    <li>$ composer require rubricate/relevant </li>
                </ul>    
                
            </div>

            <div class="fold">
                Below is a suggested structure for your project,  <br />
                feel free to change the name of the directory in  <br />
                the way that best suits you
            </div>

                <div class="fold">
                <h1 class="mb_1">Basic Structure</h1>

                <div class="expand">
                    <div class="fold">

                <ul class="ct_directory_structure">
                <li>
                        <div class="tx_b"><i class="fa-solid fa-folder-open"></i> my-project</div>
                <ul>
                    <li>
                        <div class="tx_b"><i class="fa-solid fa-folder-open"></i> src</div>
                        <ul>
                            <li>
                                <div class="tx_b"><i class="fa-solid fa-folder-open"></i> Controller</div>
                                <ul>
                                    <li>Index.php</li>
                                </ul>    
                            </li>
                            <li>
                                <div class="tx_b"><i class="fa-solid fa-folder-open"></i> view</div>
                                <ul>
                                    <li>index.php</li>
                                </ul>    
                        </ul>    
                    </li>
                    <li>
                        <div class="tx_b"><i class="fa-solid fa-folder-open"></i> www</div>
                        <ul>
                            <li>index.php</li>
                            <li>.htaccess</li>
                        </ul>    
                    </li>
                </ul>
                </li>
                </ul>    


                    </div>


                <div class="fold">
                    <h2>www/.htaccess</h2>
                    <script src="https://gist.github.com/estefanionsantos/7a049045ab8a48dc9b17782c3e7c4889.js"></script>
                    <p>
                        make sure apache is installed and enable Mod_Rewrite:
                    </p>
                    <p class="mb_1">
                    $ <span class="tx_b">a2enmod rewrite</span>
                    </p>
                </div>

                <div class="fold">
                    <h2>Auto-load PSR-4</h2>
                <div class="expand mb_1">
                    <div class="row">
                        <div class="gr gr_6 gr_md_12">
                            Let's use the PSR-4 pattern in a PHP project through the Composer dependency manager itself. 
                            In the <strong class="tx_prm">composer.json</strong> file we configure the vendor namespace 
                            and the main folder from where the sub-namespaces will be created:
                        </div>
                    </div>
                </div>
                <div class="expand">
                <script src="https://gist.github.com/estefanionsantos/16e73caef60316f60e109165939c8df7.js"></script>
                <p>
                 After configuring the project's namespace, run:                   
                </p>
                <p class="mb_1">
                $ <span class="tx_b">composer dump-autoload</span>
                </p>

                </div>
                </div>

                <div class="fold">
                    <h2>src/view/index.php</h2>
                    <script src="https://gist.github.com/estefanionsantos/9cceebb6557f463dacac2d0e1d007f3e.js"></script>
                </div>

                <div class="fold">
                    <h2>src/Controller/Index.php</h2>
                    <script src="https://gist.github.com/estefanionsantos/63f770e88de6b5b51c7e3d0117ce0437.js"></script>

                    <div class="expand my_1">

                      <h3 class="mb_1">Suggestion</h3>
                        Manage the <b class="tx_b">view</b> layer with component 
                        <a href="../../components/resource/" class="lk_scn">Resource <i class="fa-solid fa-up-right-from-square"></i></a> 
                        or any other template engine of your choice
                    </div>

                </div>

                <div class="fold">
                    <h2>www/index.php</h2>
                    <script src="https://gist.github.com/estefanionsantos/d088c2cc4dd962622b6d16554bbeacf3.js"></script>
                </div>

                <div class="fold">
                    <h1>URL</h1>
                    http://localhost/my-project/www/
                </div>

                <div class="fold">
                    <h1>Skeleton</h1>
                    Save time creating an MVC from scratch using <a href="../../components/skeleton/" class="lk_scn">skeleton</a> to start your project from scratch  <br />
                    and use other components according to the application's needs
                </div>

                </div>

                </ul>
                </div>
        </div>

                <div class="fold">
                    <div class="container">
                        <div class="expand">
                            <ul class="lt_x fl_r">
                                <li><a href="https://rubricate.github.io" class="lk_prm">Rubricate</a></li>
                                <li>
                                    &copy; 2015 -
                                    <script type="text/javascript">
                                        var date = new Date();
                                        document.write(date.getFullYear());
                                    </script>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

    </body>
</html>
